:root{
  --text-color: #007ABE;
  --highlights: #9DCF75;
  --bg-color: #F0FFD9;
  --accents: #fff;
}

.light-background{
  background-color: var(--bg-color);
  color: var(--text-color);
}
.dark-background{
  --bg-color: var(--text-color);
  --text-color: var(--bg-color)
}

#mainIntro{
  height:100vh;
  width: 100vw;
}

.text-up{
  position: relative;
  animation: text-up 1s;
}

@keyframes text-up {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  
}
