#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-up{
  position: relative;
  animation: text-up 1s;
}

@keyframes text-up {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  
}
