@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --text-color: #007ABE;
  --highlights: #9DCF75;
  --bg-color: #007ABE;
  --accents: #fff;
  --light-green: #F0FFD9;
}

html body{
  line-height: 1.2;
  background-color: var(--bg-color);
  min-height: 0;
  margin: 0;
  padding: 0;
  display: flex;
}

body, button {
  font-family: 'Open Sans', sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  border: none;
}

.light-background{
  --bg-color:#F0FFD9;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.dark-background{
  --bg-color: var(--text-color);
  --text-color: var(--bg-color)
}

#mainIntro{
  height:100vh;
  width: 100vw;
}

.content-boundary{
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.full-height{
  height: 100vh;
}

h1{
  margin: 0;
}

/* TEXT SIZES */
.h1-main{
  top: 30vh;
  font-size: 5.2rem;
  font-weight: 700;
}

.h2-heading{
  font-size: 2.5rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.intro-subheading{
  font-size: 3.2rem;
  font-weight: 400;
}

.big-text{
  font-size: 2.3rem;
}

p{
  font-size: 18px;
}

/* ---------- */

/* TEXT STYLES */
.center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}

.intro-girl{
  position: absolute;
  bottom: 0;
  height:30%;
}

.text-light-green{
  color: var(--light-green);
}

#ServicesSection.text-light-green p{
  color: var(--light-green);
}

/* SHAPES STYLES */
.color-light-green{
  fill: var(--light-green);
  color: var(--light-green);
}

/* SECTIONS */
section{
  height: 100vh;
}

/* SERVICES */
#Services{
  color: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ServicesContent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}

#ServicesIntroGraphics{
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 50px 0;
}

.service-nav-dot{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--light-green)
}

.service-nav-dot.active{
  background-color: var(--highlights);
  cursor: pointer;
}

.service-nav-dot:not(:last-child){
  margin-bottom: 10px;
}

.service-ball-path{
  fill: var(--light-green);
  cursor: pointer;
}

svg.svg-service-ball {
  width: 200px;
  height: 200px;
}

.service-ball-path.selected {
  fill: var(--highlights);
}

.service-ball-content{
  display: flex;
  position: relative;
  flex-direction: column;
}

.service-ball-info{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
}

.service-ball-info.down-text{
  position: relative;
  top: 230px;
}

.service-ball-arrow.down-arrow{
  position:absolute; 
  top:200px;
  right:0;
  rotate:180deg;
  transform:scaleX(-1)
}

.service-ball-arrow.up-arrow{
  position: absolute;
  right: 4px;
  top: 25px;
}

#ServicesNavDots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
}

.service-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid var(--light-green);
  padding-left: 50px;
  padding-right: 50px;
}

#blobs__split.all-light-green *:not(#dotted-circle){
  fill: var(--light-green);
  color: var(--light-green);
}

#blobs__split #dotted-circle{
  fill: transparent;
}

#blobs__split .dotted-circle{
  stroke: var(--light-green);
  stroke-width: 1px;
  stroke-dasharray: 3;
}

/* DATA VISUALIZATION */
#DataVisualization{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-visualization-content{
  display: flex;
  align-items: center;
}

.service-graph{
  width:70%;
}

.service-info{
  width:30%;
  height: fit-content;
}

/* NAVBAR */
#NavBar{
  position: fixed;
  background-color: var(--bg-color);
  padding: 30px 0;
  width: 100%;
  z-index: 1;
}

.nav-bar-content{
  display: flex;
  justify-content: end;
  gap: 50px;
  width: 100%;
}

.nav-bar-button{
  width: max-content;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  background-color: var(--bg-color);
  color: var(--accents);
  border: 1px solid var(--accents);
}

.nav-bar-button:not(.active){
  cursor: pointer;
}
.nav-bar-button:before{
  border-left: 1px solid var(--light-green) !important;
  height:43px;
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  display: flex;
}

.nav-bar-button.active:before{
  border-left: 1px solid var(--light-green) !important;
}

.nav-bar-button:before{
  border-left: 1px solid var(--light-green) !important;
}

.nav-bar-button.active{
  background-color: var(--light-green);
  color: var(--text-color);
}

.nav-bar-button:hover:not(.active){
  background-color: var(--highlights);
  color: var(--text-color);
}
/* ANIMATIONS */
.text-up{
  position: relative;
  animation: text-up 1s forwards;
  top: 30vh;
  opacity: 0;
}

.delayed-oneSec{
  animation-delay: 1s;
}

@keyframes text-up {
  from {
    top: 33vh;
    opacity: 0;
  }
  to {
    top: 30vh;
    opacity: 1;
  }
}


@media (prefers-reduced-motion: no-preference) {
  
}